# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/
*.moved-aside
*.hmap
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Misc
.DS_Store
*.ipa
*.dSYM.zip
*.xcodeproj/project.xcworkspace/
