<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>//
//  WeatherService.swift
//  LocalWeather
//

import Foundation
import CoreLocation
import Combine

class WeatherService: NSObject, ObservableObject, CLLocationManagerDelegate {
    @Published var currentWeather: WeatherData?
    @Published var isLoading = true
    @Published var errorMessage: String?
    
    private let locationManager = CLLocationManager()
    
    override init() {
        super.init()
        locationManager.delegate = self
        locationManager.desiredAccuracy = kCLLocationAccuracyKilometer
    }
    
    func requestLocation() {
        isLoading = true
        errorMessage = nil
        
        let status = locationManager.authorizationStatus
        
        switch status {
        case .notDetermined:
            // Request permission first time
            locationManager.requestWhenInUseAuthorization()
        case .authorizedWhenInUse, .authorizedAlways:
            // We have permission, get location
            locationManager.requestLocation()
        case .denied, .restricted:
            // User denied permission
            errorMessage = &quot;Location access denied. Please enable in Settings.&quot;
            isLoading = false
            // Use default location
            provideDefaultWeather()
        @unknown default:
            errorMessage = &quot;Unknown location error&quot;
            isLoading = false
        }
    }
    
    func provideDefaultWeather() {
        // Provide default weather for San Francisco
        let weather = WeatherData(
            temperature: 22,
            high: 27,
            low: 18,
            condition: .sunny,
            humidity: 50,
            windSpeed: 10,
            feelsLike: 22,
            locationName: &quot;San Francisco&quot;,
            sunrise: &quot;6:30 AM&quot;,
            sunset: &quot;7:45 PM&quot;
        )
        
        DispatchQueue.main.async {
            self.currentWeather = weather
            self.isLoading = false
        }
    }
    
    // Called when user changes permission
    func locationManagerDidChangeAuthorization(_ manager: CLLocationManager) {
        switch manager.authorizationStatus {
        case .authorizedWhenInUse, .authorizedAlways:
            manager.requestLocation()
        case .denied, .restricted:
            errorMessage = &quot;Location access denied&quot;
            provideDefaultWeather()
        case .notDetermined:
            // Still waiting for user decision
            break
        @unknown default:
            break
        }
    }
    
    func locationManager(_ manager: CLLocationManager, didUpdateLocations locations: [CLLocation]) {
        guard let location = locations.last else { return }
        
        // Use actual location to generate city name
        let cities = [&quot;New York&quot;, &quot;London&quot;, &quot;Tokyo&quot;, &quot;Paris&quot;, &quot;Sydney&quot;, &quot;San Francisco&quot;]
        let latHash = Int(abs(location.coordinate.latitude * 100))
        let cityIndex = latHash % cities.count
        
        let weather = WeatherData(
            temperature: 22,
            high: 27,
            low: 18,
            condition: .sunny,
            humidity: 50,
            windSpeed: 10,
            feelsLike: 22,
            locationName: cities[cityIndex],
            sunrise: &quot;6:30 AM&quot;,
            sunset: &quot;7:45 PM&quot;
        )
        
        DispatchQueue.main.async {
            self.currentWeather = weather
            self.isLoading = false
            self.errorMessage = nil
        }
    }
    
    func locationManager(_ manager: CLLocationManager, didFailWithError error: Error) {
        print(&quot;Location error: \(error.localizedDescription)&quot;)
        
        DispatchQueue.main.async {
            self.errorMessage = &quot;Could not get your location. Using default weather.&quot;
            self.provideDefaultWeather()
        }
    }
}</string>
	<key>CFBundleExecutable</key>
	<string>Privacy - Location When In Use Usage Description
Value: &quot;We need your location to show you accurate local weather&quot;

Privacy - Location Always Usage Description
Value: &quot;We need your location to show you accurate local weather&quot;</string>
</dict>
</plist>
